In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("/Users/jyj/Dropbox/A_A_Data_Analysis/Group_Projects/US_Aid/us_foreign_aid_complete.csv")

/Users/jyj/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.loc[data['fiscal_year']=='1976tq','fiscal_year']='1976';
data[data['fiscal_year']=='1976tq']
data['fiscal_year']=data['fiscal_year'].astype(str).astype(int,inplace=True)

Empty DataFrame
Columns: [country_id, country_code, country_name, region_id, region_name, income_group_id, income_group_name, income_group_acronym, implementing_agency_id, implementing_agency_acronym, implementing_agency_name, implementing_subagency_id, subagency_acronym, subagency_name, channel_category_id, channel_category_name, channel_subcategory_id, channel_subcategory_name, channel_id, channel_name, dac_category_id, dac_category_name, dac_sector_code, dac_sector_name, dac_purpose_code, dac_purpose_name, funding_account_id, funding_account_name, funding_agency_id, funding_agency_name, funding_agency_acronym, assistance_category_id, assistance_category_name, aid_type_group_id, aid_type_group_name, activity_id, activity_name, activity_project_number, activity_start_date, activity_end_date, transaction_type_id, transaction_type_name, fiscal_year, current_amount, constant_amount, USG_sector_id, USG_sector_name, submission_id]
Index: []

[0 rows x 48 columns]

In [ ]:
data;
data.dtypes;

In [4]:
data1=data[["country_name","fiscal_year","constant_amount"]]

In [5]:
our_data_groupby=data1.groupby(['country_name','fiscal_year'])["constant_amount"].sum()
our_data_df0=our_data_groupby.reset_index()

In [11]:
our_data_df0.to_csv("simplest.csv")

In [9]:

from sqlalchemy import create_engine
engine = create_engine('sqlite:///aid_data.sqlite', echo=False)
our_data_df0.to_sql("aid_data", con=engine, if_exists = "replace", chunksize = 10)

In [ ]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [ ]:
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///aid_data.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table

# Base.classes.keys()
aid_data = Base.classes.aid_data

In [ ]:

session = Session(engine)

In [ ]:
first_row = session.query(aid_data).first()
first_row.__dict__;

In [ ]:
our_data=[]
for row in session.query(aid_data.country_name, aid_data.fiscal_year,  aid_data.constant_amount).all():
    our_data.append(row)
our_data_df=pd.DataFrame(our_data)

In [ ]:
our_data_groupby=our_data_df.groupby(['country_name','fiscal_year'])["constant_amount"].sum();

# our_data_df.groupby
our_data_groupby=our_data_groupby.reset_index()

In [ ]:
country_data=our_data_groupby.loc[our_data_groupby["country_name"]=="Afghanistan"]

In [ ]:
# country_data["fiscal_year"].values.tolist();
country_data.constant_amount.tolist();

In [ ]:
countries=pd.read_csv("./country_name.csv")
countries.head()

In [ ]:
from flask import Flask, jsonify


# dict(countries)
# {"country":list(countries["country"])}

In [ ]:


@app.route('/_get_current_user')
def get_current_user():
    return jsonify(username=g.user.username,
                   email=g.user.email,
                   id=g.user.id)

In [ ]:
our_data_df0=pd.read_csv("./simple_data.csv")
our_data_df=our_data_df0[["country_name",  "fiscal_year" , "constant_amount"]]
print(our_data_df.head())

In [ ]:
count_country=data.groupby(['country_name','fiscal_year'])["constant_amount"].count()
count_country_year=data.groupby(['country_name'])["fiscal_year"].unique()
count_country_only=data.groupby(['country_name'])["fiscal_year"].count()
sum_country=data.groupby(['country_name','fiscal_year'])["constant_amount"].sum()

In [ ]:
count_country_only=pd.DataFrame({'country':count_country_only.index, 'year_count':count_country_only.values})
count_country_only.to_csv('country_name.csv')
count_country_only;

In [ ]:
len(count_country_only)

In [ ]:
# data['country_name'].unique();
count_country_only;

In [ ]:
sum_country=data.groupby(['country_name','fiscal_year'])["constant_amount"].sum().reset_index()
# plt.bar(sum_country())

In [ ]:
type(sum_country)

In [ ]:
# # fig2 = plt.figure(figsize=plt.figaspect(2.0))
# sum_country.plot(kind='bar',figsize=(18,5));

In [ ]:
sum_country;

In [ ]:
len(data)

In [ ]:
data1=data.iloc[1:10000]

In [ ]:
data1.to_csv('simple_data.csv')

In [ ]:
type(sum_country)

In [ ]:
sum_country.get_group(["Afghanistan","2018"])

In [ ]:
count_country;

In [ ]:
len(count_country_year["Afghanistan"])

In [ ]:
sum_country.reset_index().iloc[0:64].to_csv('simple_data.csv');

In [ ]:
sum_country.iloc[0:64].to_csv('simple_data.csv')

In [ ]:
sum_country

In [ ]:
d1=pd.read_csv('simple_data.csv')

In [ ]:
d1